.about {
    text-align: center;
    .socialLinks {
        margin-top: 20px;
        text-align: left;
        a {
            font-size: 4rem;
            color: #555555;
            padding: 0 5px;
            transition: $transition;
            &:hover, &:focus {
                color: #93499f;
            }
        }
    }
    .flexRow {
        display: flex;
        align-items: center;
    }
    .profilePhoto {
        display: inline-block;
        width: 30%;
        margin: 40px 0;
        flex-shrink: 0;
        img {
            border-radius: 50%;
        }
    }
    p {
        text-align: left;
    }
    .column {
        margin-left: 50px;
    }
}