.about {
    text-align: center;
    .socialLinks {
        margin-top: 60px;
        a {
            font-size: 4rem;
            color: #555555;
            padding: 0 5px;
            transition: $transition;
            &:hover, &:focus {
                color: #93499f;
            }
        }
    }
}