footer {
    background: #290e38;
    color: #eeeeee;
    padding: 15px 0;
    .wrapper {
        display: flex;
        align-items: center;
        > * {
            width: calc(100% / 3);
        }
        h2 {
            text-align: left;
            font-family: $logoFont;
            text-transform: capitalize;
            font-size: 3.6rem;
        }
        div.right {
            text-align: right;
            font-size: 2rem;
            p {
                margin: 0;
            }
        }
        div.socialLinks {
            text-align: center;
            font-size: 3rem;
            i {
                margin: 0 5px;
            }
        }
    }
    a {
        transition: $transition;
    }
    a:hover, a:focus {
        color: #3bafa3;
    }
}