// common styles
.button {
    font-family: $buttonFont;
    font-weight: bold;
    font-size: 2rem;
    font-weight: normal;
    background: #02b197;
    border-radius: 2px;
    box-shadow: 0 4px 0 #01907a;
    padding: 5px 10px;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    min-width: 15rem;
}

.profilePhoto {
    display: inline-block;
    width: 220px;
    margin: 40px 0;
    img {
        border-radius: 50%;
    }
}

.itemContainer {
    width: 200px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.fancyLine {
    background: #530f3d;
    height: 1px;
    width: 100px;
    margin: 20px auto;
    &.greenLine {
        background: #02b197;
    }
}

h2 {
    font-family: $headerFont;
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

section {
    padding: 80px 0;
}