// common styles
.button {
    display: inline-block;
    font-family: $buttonFont;
    font-weight: bold;
    font-size: 2rem;
    font-weight: normal;
    background: #02b197;
    border-radius: 2px;
    box-shadow: 0 4px 0 #01907a;
    padding: 5px 10px;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    min-width: 20rem;
    transition: $transition;
    &:hover, &:focus {
        background: #93499f;
        box-shadow: 0 4px 0 darken(#93499f,10%);
    }
}

.itemContainer {
    width: 200px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.fancyLine {
    background: #530f3d;
    height: 1px;
    width: 100px;
    margin: 20px auto;
    &.greenLine {
        background: #02b197;
    }
}

h2 {
    font-family: $headerFont;
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

section {
    padding: 80px 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}