@media (max-width: 900px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }
    .contact {
        ul {
            width: 100%;
            flex-direction: row;
        }
        .flexContainer {
            flex-direction: column-reverse;
        }
        .contactInfo {
            i {
                margin: 20px 0;
            }
            li {
                flex-direction: column;
                text-align: center;
                align-items: center;
            }
        }
    }
}
@media (max-width: 750px) {
    .portfolio {
        .grid {
            display: flex;
            flex-direction: column;
            grid-gap: 0;
        }
        .itemContainer {
            margin-top: 40px;
        }
        .itemContainer .overlay {
            padding: 80px 20px;
        }
    }
    .about {
        .flexRow {
            flex-direction: column;
            .socialLinks {
                text-align: center;
            }
            .column {
                margin: 0;
            }
        }
    }
}

@media (max-width: 650px) {
    header {
        .headerContent {
            h1 {
                font-size: 4rem;
            }
        }
        nav .wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    .skills {
        ul {
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        }
    }
}

@media (max-width: 500px) {

    header nav {
        width: 100%;
        text-align: center;
        .hamburger {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 60;
            button {
                display: block;
                min-width: 60px;
                min-height: 60px;
                background: none;
                color: white;
                text-shadow: 0 0 4px black;
                border: none;
                transition: $transition;
                &.open {
                    transform: rotateZ(90deg);
                }
                &:hover, &:focus {
                    color: #02b197;
                }
            }
        }
    }

    header {
        flex-direction: column;
    }

    // Build hamburger menu here
    .menu {
        position: fixed;
        z-index: 50;
        transform: translateY(-50%) scaleY(0);
        flex-direction: column;
        width: 100%;
        background: rgb(37, 18, 68);
        border-bottom: 3px white solid;
        transition: $transition;
        // opened via class
        &.open {
            transform: translateY(0) scaleY(1);
        }
    }

    nav li {
        width: 100%;
        margin: 0;
        border-bottom: rgba(255,255,255,0.5) 0.5px solid;
    }

    .headerContent {
        margin: auto;
    }

    .contact ul {
        flex-direction: column;
    }

    .contact form input {
        width: 100%;
        margin-top: 20px;
        &:first-of-type {
            margin-top: 0;
            margin-right: 0;
        }
    }

    footer .wrapper {
        flex-direction: column;
        > * {
            width: 100%;
        }
        h2, .socialLinks, p {
            text-align: center;
        }
    }

}

@media (max-width: 400px) {
    header .headerContent {
        h1 {
            font-size: 3rem;
        }
        p {
            font-size: 2.1rem;
        }
        h2 {
            font-size: 2.7rem;
        }
    }
}

@media (max-height: 500px) {
    header {
        flex-direction: column;
    }
    header nav {
        position: static;
        width: 100%;
        text-align: center;
    }
}