// Stripping styles
h1,h2,h3,h4,p,li,ul {
    margin: 0;
    padding:0;
}

ul,li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

// Wrapper
.wrapper {
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
}

// fonts
html {
    font-size: 62.5%;
}

body {
    font-size: 2.1rem;
    font-family: $mainFont;
}